autopep8==1.5.5
bcj-cffi==0.5.1
beautifulsoup4==4.10.0
Brotli==1.0.9
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
colorama==0.4.4
configparser==5.0.2
crayons==0.4.0
cryptography==35.0.0
docx==0.2.4
elementpath==2.2.0
fake-useragent==0.1.11
flake8==4.0.1
httmock==1.4.0
http-request-randomizer==1.3.2
idna==2.10
lxml==4.6.2
Markdown==3.3.4
marshmallow==3.11.1
mccabe==0.6.1
mdutils==1.3.0
MonthDelta==0.9.1
multivolumefile==0.2.3
numpy==1.20.3
pandas==1.2.4
pathlib2==2.3.5
Pillow==8.2.0
psutil==5.8.0
psycopg2-binary==2.8.6
py7zr==0.16.1
pycodestyle==2.8.0
pycparser==2.20
pycryptodomex==3.10.1
pyflakes==2.4.0
pyminizip==0.2.4
pyOpenSSL==21.0.0
pyppmd==0.15.0
python-dateutil==2.8.1
python-docx==0.8.10
python-dotenv==0.15.0
python-http-client==3.3.2
pytz==2021.1
pyzstd==0.14.4
requests==2.25.1
sendgrid==6.6.0
six==1.16.0
soupsieve==2.2.1
starkbank-ecdsa==1.1.0
texttable==1.6.3
toml==0.10.2
urllib3==1.26.3
webdriver-manager==3.5.1
wget==3.2
XlsxWriter==1.3.7
