XlsxWriter==3.1.6
boto3==1.28.44
certifi==2023.7.22
charset-normalizer==3.3.0
idna==3.4
jmespath==1.0.1
lxml==4.9.3
python-dateutil==2.8.2
python-dotenv==1.0.0
python-http-client==3.3.7
requests==2.31.0
s3transfer==0.10.0
six==1.16.0
starkbank-ecdsa==2.2.0
urllib3==2.0.6

